<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="../../styles/common.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../styles/haf.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../styles/tables.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../styles/estimateDetail.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
</head>
<main>
    <section class="detail-Body" th:fragment="fragment">
        <span th:text="'Estimate code: ' + ${estimate.code}">Estimate code: 56</span>
        <div class="first-row">
            <div class="product-details">
                <img th:src="${#servletContext.contextPath} + '/images/dbImages/' + ${product.image}" th:alt="${product.name} + ' photo'"
                        src="../../images/dbImages/hammer_1f528.png" + alt="Hammer image">
                <div>
                    <span class="product-title">Product</span>
                </div>
                <div>
                    <span th:text="${product.name}">Hammer</span>
                    <span class="headers">Name</span>
                </div>
                <div>
                    <span th:text="${product.code}">45</span>
                    <span class="headers">Code</span>
                </div>
            </div>
            <div class="user-details">
                <div class="client-detail">
                    <div>
                        <span class="headers">Client username: </span>
                        <span th:text="${client.username}">dovakiin09</span>
                    </div>
                </div>
                <div class="pricing-detail">
                    <div th:if="${priced}">
                        <span class="headers">Priced by: </span>
                        <span th:text="${employee.username}">emerito33</span>
                    </div>
                    <div th:if="${priced}">
                        <span class="headers">Price: </span>
                        <span th:text="${estimate.getPrice()} + '$'">34$</span>
                    </div>
                    <div th:unless="${priced}">
                        <span>This estimate has not been priced yet</span>
                    </div>
                </div>
            </div>
        </div>
        <dl>
            <span class="table-title">With options:</span>
            <dt class="content-row" th:each="option : ${options}">
                <div>
                    <span th:text="${option.code}">23</span>
                    <span class="headers">Code</span>
                </div>
                <div>
                    <span th:text="${option.name}">Alduin</span>
                    <span class="headers">Name</span>
                </div>
                <div>
                    <span th:text="${option.type}">VERY_BAD</span>
                    <span class="headers">Type</span>
                </div>
            </dt>
        </dl>
    </section>
</main>
