<section class="em-table-container" th:fragment="fragment (estimates, products, header)">
    <span class="table-title" th:text="${header}"></span>
    <dl th:unless="${estimates.isEmpty()}">
        <dt th:each="estimate : ${estimates}">
            <div>
                <span th:text="${estimate.code}"></span>
                <span class="headers">Estimate Code</span>
            </div>
            <div>
                <span th:each="product : ${products}" th:if="${product.code == estimate.productCode}" th:text="${product.name}"></span>
                <span class="headers">Product Name</span>
            </div>
            <div>
                <span th:if="${estimate.price > 0}" th:text="${estimate.price} + '$'"></span>
                <span th:unless="${estimate.price > 0}">-</span>
                <span class="headers">Estimate Price</span>
            </div>
            <div>
                <a class="my-button" th:href="'EstimateDetail?estimateCode=' + ${estimate.code}">See details</a>
            </div>
        </dt>
    </dl>
    <div th:if="${estimates.isEmpty()}">
        <span>No estimates found</span>
    </div>
</section>