<section class="em-table-container" th:fragment="fragment (products, options, actualProductCode, actualProduct)">
    <div th:if="${actualProductCode == -1}">
        <div><span class="table-title">New estimate form</span></div>
        <div><span>Choose a product to make an estimate</span></div>
        <div class="product-list">
            <a class="content" th:each="product : ${products}" th:href="'GoToClientHome?productCode=' + ${product.code}">
                <img th:src="${#servletContext.contextPath} + '/images/dbImages/' + ${product.image}" th:alt="${product.name} + ' photo'">
                <span th:text="${product.name}"></span>
            </a>
        </div>
    </div>
    <div th:unless="${actualProductCode == -1}">
        <form action="CreateEstimate" method="POST">
            <dl class="em-table">
                <span class="table-title">Available options for</span>
                <div class="content no-hover">
                    <img th:src="${#servletContext.contextPath} + '/images/dbImages/' + ${actualProduct.image}" th:alt="${actualProduct.name} + ' photo'">
                    <span th:text="${actualProduct.name}"></span>
                </div>
                <span>Tik the checkbox on the side to choose at least one option</span>
                <dt class="content-row" th:each="option : ${options}">
                    <div>
                        <span th:text="${option.code}"></span>
                        <span class="headers">Code</span>
                    </div>
                    <div>
                        <span th:text="${option.name}"></span>
                        <span class="headers">Name</span>
                    </div>
                    <div>
                        <span th:text="${option.type}"></span>
                        <span class="headers">Type</span>
                    </div>
                    <div>
                        <input type="checkbox" name="optionCode" th:value="${option.code}">
                    </div>
                </dt>
            </dl>
            <input type="hidden" name="productCode" th:value="${actualProductCode}">
            <div>
                <input class="my-button" type="submit" name="Create Estimate">
            </div>
        </form>
    </div>
</section>