:root {
    --background-lev0: #101010;
    --background-lev1: #202020;
    --background-lev2: #303030;
    --background-lev3: #404040;
    --text: white;
    --colored-text: #EE6C4D;
    --heder-hover-background: #834100;
    --accent-color: #78290f;
    --little-radius: .3em;
    --little-padding: .3em;
    --medium-padding: .5em;
    --big-padding: 1em;
    --animation-duration: 1s;
    --animation-curve: ease;
    --button-text-color: black;
}

*, *::before, *::after {
    box-sizing: border-box;
    color: var(--text);
    font-family: 'Monda', sans-serif;
    font-weight: normal;
}

body {
    place-items: center;
    background-color: var(--background-lev1);
    margin: 0;
    min-width: 30em;
    color: var(--text);
}

div {
    text-align: center;
}

a:link {
    text-decoration: none;
    color: var(--text);
}

main {
    min-width: fit-content;
    width: fit-content;
    padding: var(--big-padding) var(--big-padding);
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-lev2);
    border-radius: var(--little-radius);
    margin: 5em auto;
}

main > section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--background-lev1);
    padding: var(--big-padding);
    border-radius: var(--little-radius);
    width: 100%;
    vertical-align: middle;
}

section > span {
    width: fit-content;
    margin: auto;
}

h1 {
    font-size: 2.5rem;
    margin: auto;
}

.my-button {
    font-size: 1rem;
    padding: var(--medium-padding);
    width: 10em;
    background-color: var(--accent-color);
    border-radius: var(--little-radius);
    border: none;
    outline: .1em solid black;
    animation-duration: var(--animation-duration);
    animation-timing-function: var(--animation-curve);
    margin: auto;
    text-align: center;
}

.my-button:hover {
    outline: .1em solid greenyellow;
}

.no-hover:hover {
    outline: initial;
}