.em-header {
    top: 0;
}

.em-header > span {
    text-align: left;
}

.em-footer {
    bottom: 0;
}

.bar {
    width: 100%;
    position: fixed;
    height: fit-content;
    background-color: var(--background-lev0);
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: column;
}

.bar > span {
    padding: 1rem;
    color: white;
}

.bar > div {
    width: fit-content;
    justify-self: end;
    margin: auto 1rem;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.bar > div > a {
    width: fit-content;
    height: fit-content;
    border: none;
    margin: auto;
    padding: 1rem;
    color: white;
    border-radius: var(--little-radius);
    outline-color: transparent;
    background-color: transparent;
}

.home-button:hover {
    outline-color: transparent;
    background-color: darkolivegreen;
}

.logout-button:hover {
    outline-color: transparent;
    background-color: indianred;
}
