.em-table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: var(--little-radius);
    padding: .5rem;
    background-color: var(--background-lev3);
}

.table-title {
    font-size: 2rem;
    margin: .5rem;
}

.em-table {
    display: grid;
    grid-auto-flow: row;
}

.em-table > .content-row {
    width: inherit;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: var(--background-lev2);
    margin: var(--little-padding);
    padding: var(--little-padding);
    border-radius: var(--little-radius);
    animation-duration: var(--animation-duration);
    animation-timing-function: var(--animation-curve);
}

.em-table > .content-row > div {
    display: flex;
    flex-direction: column;
    width: 10rem;
    margin: auto;
}

.em-table > .content-row > div > a {
    padding: .3rem 1.7rem;
    margin: auto;
    border-radius: var(--little-radius);
    width: fit-content;
}

.em-table > .content-row > div > span {
    font-size: 1rem;
    padding: var(--little-padding);
}

.em-table > .content-row > div > .headers {
    padding: 0;
    color: var(--colored-text);
    font-size: .75rem;
}


