<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Home Page</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="${#servletContext.contextPath} + '/styles/common.css'"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="${#servletContext.contextPath} + '/styles/haf.css'"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="${#servletContext.contextPath} + '/styles/tables.css'"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="${#servletContext.contextPath} + '/styles/clientHome.css'"/>
</head>
<body>
    <div th:insert="/WEB-INF/templates/header (${session.user})"></div>
    <div class="main-body">
        <span class="main-title">Client Home Page</span>
        <div th:replace="/WEB-INF/templates/newEstimateForm (${products}, ${options}, ${actualProductCode}, ${actualProduct})"></div>
        <div th:replace="~{/WEB-INF/templates/estimateTable (${estimates}, ${products}, ${'My past estimates'})}" ></div>
    </div>
    <div th:insert="/WEB-INF/templates/footer"></div>
</body>
</html>