<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Home Page - EM</title>
</head>
<body>
    <span th:text="'Welcome Employee ' + ${session.user.username}">Welcome Employee</span>
    <div th:unless="${notPricedEstimates.isEmpty()}">
        <div th:each="notPricedEstimate : ${notPricedEstimates}">
            <span th:text="${notPricedEstimate.code}"></span>
            <span th:text="${notPricedEstimate.clientId}"></span>
        </div>
    </div>
    <div th:if="${notPricedEstimates.isEmpty()}">
        No estimates found;
    </div>
    <div th:unless="${pricedEstimates.isEmpty()}">
        <div th:each="pricedEstimate : ${pricedEstimates}">
            <span th:text="${pricedEstimate.code}"></span>
            <span th:text="${pricedEstimate.clientId}"></span>
        </div>
    </div>
    <div th:if="${pricedEstimates.isEmpty()}">
        You have not priced any estimate yet
    </div>
</body>
</html>