<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Detail - EM</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="${#servletContext.contextPath} + '/styles/common.css'"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="${#servletContext.contextPath} + '/styles/haf.css'"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="${#servletContext.contextPath} + '/styles/tables.css'"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="${#servletContext.contextPath} + '/styles/estimateDetail.css'"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="/WEB-INF/templates/header (${session.user})"></div>
    <main>
        <h1 >Estimate detail page</h1>
        <div th:replace="~{/WEB-INF/templates/estimateDetail.html :: fragment}"
             th:with="estimate=${estimate}, product=${product}, options=${options}, client=${client}, priced=${priced}"></div>
    </main>
    <div th:replace="/WEB-INF/templates/footer"></div>
</body>
</html>