<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>TIW-109-HTML</display-name>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/estimate_management</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>Polintropo15</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>productImagesSource</param-name>
        <param-value>images/dbImages/</param-value>
    </context-param>
    <filter>
        <filter-name>EmployeeChecker</filter-name>
        <filter-class>it.polimi.tiw.tiw2022chioda.filters.EmployeeChecker</filter-class>
    </filter>
    <filter>
        <filter-name>ClientChecker</filter-name>
        <filter-class>it.polimi.tiw.tiw2022chioda.filters.ClientChecker</filter-class>
    </filter>
    <filter>
        <filter-name>LoginChecker</filter-name>
        <filter-class>it.polimi.tiw.tiw2022chioda.filters.LoginChecker</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginChecker</filter-name>
        <url-pattern>/GoToHome</url-pattern>
        <url-pattern>/GoToClientHome</url-pattern>
        <url-pattern>/GoToEmployeeHome</url-pattern>
        <url-pattern>/EstimateDetail</url-pattern>
        <url-pattern>/CreateEstimate</url-pattern>
        <url-pattern>/PriceEstimate</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientChecker</filter-name>
        <url-pattern>/GoToClientHome</url-pattern>
        <url-pattern>/CreateEstimate</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EmployeeChecker</filter-name>
        <url-pattern>/GoToEmployeeHome</url-pattern>
        <url-pattern>/PriceEstimate</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>